{% extends "layout.html" %}
{% block title %}Relevés bancaires{% endblock %}
{% block content %}
<div class="row">
<h1 class="col-9">Banque</h1>
<div class="col-3 p-4 text-end">Last update : {{ last_updated_tupple.getModified }} <a href="?force=true"><i class="bi bi-arrow-clockwise"></i></a></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-1">Date de l'opération</th>
      <th class="col-8">Libellé</th>
      <th class="col-1">Montant</th>
      <th class="col-1">Statut</th>
      <th class="col-1"></th>
    </tr>
  </thead>
{% for b in banques %}
    <tr class="{% if b.piece_id %}table-success{% endif %}">
      <td>
        <div class="">{{ b.date|date:"d/m/Y" }}</div>
        <div> &nbsp; </div>
      </td>
      <td>
        <div class="fw-bold">{{ b.label }}</div>
        <div class='text-muted'>{{ b.banque_account }}</div>
      </td>
      <td>
        <div class="text-end fw-bold">{{ b.amount|floatformat:2 }} €</div>
        <div> &nbsp; </div>
      </td>
      <td>
        <div>
        {% if not b.piece_id %}
        <span class="badge text-bg-secondary rounded-pill">Pièce manquante</span>
        {% else %}
          <span class="badge text-bg-success rounded-pill">Pièce saisie</span>
        {% endif %}
        </div>
        <div> &nbsp; </div>
      </td>
      <td>
        <div>
          {% if b.piece_id %}
          <a href="./pdf/{{ b.getPieceMd5 }}">Voir&nbsp;la&nbsp;pièce</a>
          {% else %}
          <a href="./banque/{{ b.id }}">Associer&nbsp;à&nbsp;une&nbsp;pièce</a>
          {% endif %}
        </div>
        <div> &nbsp; </div>
      </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
