{% extends "layout.html" %}
{% block title %}Rapprocher une pièce de la banque{% endblock %}
{% block content %}
<h1>Lien entre pièce et banques</h1>
<table class="table table-striped">
  <tr>
    <th colspan="4"><h3>Banque</h3></th>
  </tr>
  <tr>
    <th><div>{{ banque.date|date:"d/m/Y" }}</div></th>
    <th><div>{{ banque.label }}</div></th>
    <th><div class="text-end">{{ banque.amount }} €</div></th>
    <th></th>
  </tr>
  <tr>
    <th><h3>Pièces<h3></th>
    <td class="align-middle" colspan="3">( <a href="?all=true">Voir tout</a> )</td>
  </tr>
  {% for md5, metafile in pieces.items %}
  <tr>
    {% if metafile.piece %}
    <td><div>
      {% if metafile.piece.facture_date %}
      {{ metafile.piece.facture_date|date:"d/m/Y" }}
      {% else %}
      {{ metafile.file.date }}
      {% endif %}
    </div></td>
    <td>
      <div>{{ metafile.piece.facture_author }} / {{ metafile.piece.facture_client }}
        {% if metafile.piece.facture_identifier %}
        - Facture {{ metafile.piece.facture_identifier }}
        {% endif %}
      </div>
      <div>
        {% if metafile.piece.facture_libelle %}
        {{ metafile.piece.facture_libelle }}
        {% else %}
        {{ metafile.piece.filename }}
        {% endif %}
      </div>
    </td>
    <td><div class="text-end">{{ metafile.piece.facture_prix_ttc|floatformat:2 }} €<br/><small class="text-muted">{{ metafile.distance|floatformat:3 }}</small></div></td>
    {% elif metafile.file %}
    <td><div>{{ metafile.file.date }}</div></td>
    <td>
      <div>
        {{ metafile.file.filename }}
      </div>
      <div>{{ metafile.file.filepath }}</div>
    </td>
    <td></td>
    {% endif %}
    <td><a href="../pdf/{{ md5 }}?banque_id={{ banque.id }}&back=banque">Editer la pièce</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
