{% extends "layout.html" %}
{% block title %}Liste des factures{% endblock %}
{% block content %}
<div class="row">
<div class="col-9">
{% if pdf_only %}
  <h1>Les fichiers PDF</h1>
  <a href="?withimages=true">Intégrer les images</a>
{% else %}
<h1>Les fichiers PDF et les images</h1>
<a href="?">Voir que les pdf</a>
{% endif %}
</div>
<div class="col-3 p-4 text-end">Last mod. : {{ last_updated_tupple.getModified }} <a href="?"><i class="bi bi-arrow-clockwise"></i></a></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-1">Date</th>
      <th class="col-9">Nom du fichier</th>
      <th class="col-1">Statut</th>
      <th class=""></th>
    </tr>
  </thead>
{% for f in files %}
    <tr class="{% if f.piece_id and f.piece.paiement_proof %}table-success{% endif %}">
      <td>
        <div class="">{{ f.date|date:"d/m/Y" }}</div>
      </td>
      <td>
        <div class="">{{ f.filename }}</div>
        <div class="text-muted">{{ f.filepath }}</div>
        <div> &nbsp; </div>
      </td>
      <td>
        <div class="text-center">
        {% if not f.piece_id %}
        <span class="badge text-bg-warning rounded-pill">Piece non saisie</span>
        {% elif f.piece.paiement_proof %}
          <span class="badge text-bg-success rounded-pill">piece rapprochée</span>
        {% else %}
          <span class="badge text-bg-secondary rounded-pill">piece saisie</span>
        {% endif %}
        </div>
        <div> &nbsp; </div>
      </td>
      <td>
        {% if not f.piece_id %}
        <a href="./pdf/{{ f.md5 }}">Editeré&nbsp;cette&nbsp;pièce</a>
        {% elif f.piece.paiement_proof %}
        <a href="./pdf/{{ f.md5 }}">Editer&nbsp;cette&nbsp;pièce</a>
        {% else %}
        <a href="./piece/{{ f.md5 }}">Rapprocher&nbsp;cette&nbsp;pièce</a>
        {% endif %}
      </td>
      <td>
      </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
