{% extends "layout.html" %}
{% block title %}Edition d'une piece{% endblock %}
{% block content %}
<h1>Edition de la pièce</h1>
{% if banque %}
<div>
  {% if back_banque %}
  <a href="../banque"><< Retour aux relevé</a>
  {% else %}
  <a href="../pieces"><< Retour aux pieces</a>
  {% endif %}
</div>
<div class="d-flex">
  <p class="px-2">
    <br/>
    {% if banque.piece_id and banque_id == file.piece_id %}
    Lié à l'écriture bancaire :
    {% else %}
    Rappel info bancaire :
    {% endif %}
  </p>
  <p class="px-5"><span class="text-muted">paiement:date</span><br/>{{ banque.date|date:"Y-m-d" }}</p>
  <p class="px-5"><span class="text-muted">paiement:proof</span><br/>{{ banque.raw }}</p>
  <p class="px-5"><span class="text-muted">facture:TTC</span><br/>{{ banque.amount|floatformat:2 }}</p>
</div>
{% else %}
<div class="row">
  <div class="col-6"><a href="../files"><< Retour aux fichiers</a></div>
  <div class="col-6"><a href="../associate/{{ file.id }}">Rapprocher >>> </a></div>
</div>
<div class="d-flex">
  <p>Champs attendus pour les pièces : </p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:identifier','');return false;">facture:identifier</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:author','');return false;">facture:author</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:client','');return false;">facture:client</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:date','');return false;">facture:date</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:TTC','');return false;">facture:TTC</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:HT','');return false;">facture:HT</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:libelle','');return false;">facture:libelle</a></p>
</div>
{% endif %}
<div style="height: calc(100vh - 247px); width: 100%;">
  <iframe src="{{ pdf_edit_full_url }}" style="height: 100%; width: 100%" id="frame_pdf_edit">
  </iframe>
</div>
<script type="text/javascript">
  function sendNewMeta(k, v) {
      console.log('sending '+k+":"+v);
      const iframe = document.getElementById('frame_pdf_edit');
      // Envoyer un message à l'iframe
      iframe.contentWindow.postMessage({
          action: 'addMetadata',
          key: k,
          value: v
      }, '*'); // Remplacez '*' par le domaine spécifique pour plus de sécurité
      return false;
  };
</script>
{% if banque %}
<div class="d-flex">
  <p class="px-2">
    <br/>
    {% if banque.piece_id and banque_id == file.piece_id %}
    Lié à l'écriture bancaire :
    {% else %}
    Rappel info bancaire :
    {% endif %}
  </p>
  <p class="px-5"><a class="btn" href="#" onclick="sendNewMeta('paiement:date','{{ banque.date|date:"Y-m-d" }}');return false;"><span class="text-muted">paiement:date</span><br/>{{ banque.date|date:"Y-m-d" }} <span class="text-muted"> 📤 </span></a></p>
  <p class="px-5"><a class="btn" href="#" onclick="sendNewMeta('paiement:proof','{{ banque.raw }}');return false;"><span class="text-muted">paiement:proof</span><br/>{{ banque.raw }} <span class="text-muted"> 📤 </span></a></p>
  <p class="px-5"><a class="btn"><span class="text-muted">facture:TTC</span><br/>{{ banque.amount|floatformat:2 }}</a></p>
</div>
<div>
  {% if back_banque %}
  <a href="../banque"><< Retour aux relevé</a>
  {% else %}
  <a href="../pieces"><< Retour aux pieces</a>
  {% endif %}
</div>
{% else %}
<div>
  <a href="../files"><< Retour aux fichiers</a>
</div>
<div class="d-flex">
  <p>Champs attendus pour les pièces : </p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:identifier','');return false;">facture:identifier</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:author','');return false;">facture:author</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:client','');return false;">facture:client</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:date','');return false;">facture:date</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:TTC','');return false;">facture:TTC</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:HT','');return false;">facture:HT</a></p>
  <p class="px-2 text-muted"><a class="btn" href="#" onclick="sendNewMeta('facture:libelle','');return false;">facture:libelle</a></p>
</div>
{% endif %}
{% endblock %}
