{% extends "layout.html" %}
{% block title %}Rapprocher une pièce de la banque{% endblock %}
{% block content %}
<h1>Lien entre pièce et banques</h1>
<table class="table table-striped">
  <tr>
    <th colspan="4"><h3>Piece</h3></th>
  </tr>
  <tr>
    <th><div>{% if piece and piece.facture_date %}{{ piece.facture_date|date:"d/m/Y" }}{% else %}{{ file.date|date:"d/m/Y" }}{% endif %}</div></th>
    <th>
      <div>
        {% if piece.facture_client %}
        {{ piece.facture_author }} / {{ piece.facture_client }}
        {% if piece.facture_identifier %}
        - Facture {{ piece.facture_identifier }}
        {% endif %}
        {% else %}
        {{ file.filename }}
        {% endif %}
      </div>
      <div>
        {% if piece.facture_libelle %}
        {{ piece.facture_libelle }}
        {% endif %}
      </div>
    </th>
    <th><div class="text-end">{{ piece.facture_prix_ttc|floatformat:2 }} €<br/><small class="text-muted">{{ metafile.distance|floatformat:3 }}</small></div></th>
    <td><a href="../pdf/{{ piece.md5 }}">Voir la pièce</a></td>
  </tr>
  <tr>
    <th><h3>Banque<h3></th>
    <td class="align-middle" colspan="3">( <a href="?all=true">Voir tout</a> )</td>
  </tr>
  {% for bid, metabanque in banques.items %}
  <tr>
    <td><div>{{ metabanque.banque.date|date:"d/m/Y" }}</div></td>
    <td><div>{{ metabanque.banque.label }}</div></td>
    <td><div class="text-end">{{ metabanque.banque.amount|floatformat:2 }} €</div></td>
    <td><a href="../pdf/{{ piece.md5 }}?banque_id={{ metabanque.banque.id }}">Editer la pièce</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
