{% extends "layout.html" %}
{% block title %}Liste des factures {% if unpaid %}non payées{% endif %}{% endblock %}
{% block content %}
<div class="row">
<h1 class="col-9">
  Les factures
  {% if unpaid %}non payées{% endif %}
</h1>
<div class="col-3 p-4 text-end">
  Last mod. : {{ last_updated_tupple.getModified }} <a href="?"><i class="bi bi-arrow-clockwise"></i></a>
  <div><a href="{{query_string}}export=csv">Export CSV</a></div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-1">Date</th>
      <th class="col-3">Client</th>
      <th class="col-5">Libellé</th>
      <th class="col-1">Montant</th>
      <th class="col-1">Statut</th>
      <th class=""></th>
    </tr>
  </thead>
{% for p in pieces %}
    <tr class="{% if p.banque_id %}table-success{% endif %}">
      <td>{{ p.facture_date|date:"d/m/Y" }}</td>
      <td>
        <div class="fw-bold">
            <a href="?author={{ p.facture_author }}">{{ p.facture_author }}</a>
             ->
            <a href="?client={{ p.facture_client }}">{{ p.facture_client }}</a>
        </div>
      </td>
      <td style="overflow-wrap: anywhere;">
        <div> Facture n° {{ p.facture_identifier }} </div>
        <div>{{ p.facture_libelle }}</div>
        <div>{{ p.filename }}</div>
      </td>
      <td>
        <div class="text-end fw-bold">{{ p.facture_prix_ttc|floatformat:2 }}€</div>
        <div class='text-end text-muted'>{{ p.facture_prix_ht|floatformat:2 }}€</div>
      </td>
      <td>
        <div class="text-center">
        {% if not p.banque_id %}
        <span class="badge text-bg-secondary rounded-pill">Paiement manquant</span>
        {% else %}
          <span class="badge text-bg-success rounded-pill">Paiement ok</span>
        {% endif %}
        </div>
        <div> &nbsp; </div>
      </td>
      <td>
          {% if not p.banque_id %}
          <a href="./piece/{{ p.md5 }}">Rapprocher</a>
          {% else %}
          <a href="./pdf/{{ p.md5 }}">Voir&nbsp;la&nbsp;pièce</a>
          {% endif %}

      </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
